[submodule "libnbt"]
	path = src/libnbt
	url = https://github.com/DreamHelium/libnbt.git
[submodule "src/dhutil"]
	path = src/dhutil
	url = https://github.com/DreamHelium/dhutil
[submodule "nbtlib_interface"]
	path = src/nbt_interface
	url = https://github.com/DreamHelium/nbtlib_interface.git
