[submodule "libnbt"]
	path = src/libnbt
	url = https://github.com/djytw/libnbt.git
[submodule "src/minizip-ng"]
	path = src/minizip-ng
	url = https://github.com/zlib-ng/minizip-ng.git
[submodule "src/dhutil"]
	path = src/dhutil
	url = https://github.com/DreamHelium/dhutil
